<%-include('partials/Header')%>

<h1>About us</h1>
<p>This Restuarant is for term project</p>
<p>Created by</p>
<p>SASIPHA THONKHAN 642115042</p>
<p>SIRIYAKORN CHOMCHUEN 642115047</p>

<img src="" alt="">

<h4>"Hope you enjoy!!"</h4>

<%-include('partials/footer')%>