<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu: Appetizers</title>
    <link rel="stylesheet" href="/public/css/foodMenu.css">
</head>
<body>
    <%-include('./partials/header')%>
    <div>
        <h2 style="font-weight: bolder; padding-left: 20px;">Appetizers</h2>
        <div class="food">
            <img src="/public/images/bingsu-strawberry-with-ice-cream-3d-render-png.webp" alt="logo">
            <div class="sub-food">
                <h4>Bingsu Strawberry</h4>
                <h5>milk-based Korean shaved ice dessert with sweet  </h5>
                <h4>100 Bath</h4>
            </div>
            
        </div>

        <div class="food">
            <img src="/public/images/bingsu-mango-with-ice-cream-3d-render-png.png" alt="logo">
            <div class="sub-food">
                <h4>Bingsu Mango</h4>
                <h5>milk-based Korean shaved ice dessert with sweet</h5>
                <h4>100 Bath</h4>
            </div>
        </div>

       
    
</body>
</html>