<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add To Cart</title>
    <link rel="stylesheet" href="/public/css/cart.css">
</head>
<body>
    <%-include('partials/Header')%>

    <div class="detail">
        <h3 style="font-weight: bolder;">Bibimbap</h3>
        <h5>Mixed rice with meat and assorted vegetables</h5>
        <img src="/public/images/bibimbap.png" alt="bibimbap" width="100px">
    </div>

    <div>
        <h5>Note to restaurant:</h5>
        <input type="text" class="note"> 
    </div>

    <div>
        <button class="button" type="submit" onclick="">Add to cart</button>
    </div>
    
</body>
</html>