<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu: Drinks</title>
    <link rel="stylesheet" href="/public/css/foodMenu.css">
</head>
<body>
    <%-include('./partials/header')%>
    <div>
        <h2 style="font-weight: bolder; padding-left: 20px;">Drinks</h2>
        <div class="food">
            <img src="/public/images/pngtree-korean-soju-drink-vector-transparent-png-image_6497856.png" alt="logo">
            <div class="sub-food">
                <h4>Soju</h4>
                <h5>Soju is a clear and colorless distilled alcoholic</h5>
                <h4>100 Bath</h4>
            </div>
            
        </div>

        
</body>
</html>