<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu: Food</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/foodMenu.css">
</head>
<body>
    <%-include('partials/Header')%>
    <%-include('./components/Cart') %>
    <div>
        <h2 style="font-weight: bolder; padding-left: 20px;">Food</h2>
        <div class="food" onclick="document.location='/cart1'">
            <img src="/public/images/logo.png" alt="logo">
            <div class="sub-food">
                <h4>haejangguk</h4>
                <h5>thick and spicy soup made from beef bone </h5>
                <h4>100 Bath</h4>
            </div>
            
        </div>

        <div class="food">
            <img src="/public/images/kimbub.png" alt="logo">
            <div class="sub-food">
                <h4>Kimbup</h4>
                <h5>made from cooked rice ingredients and meats</h5> 
                <h4>100 Bath</h4>
            </div>
        </div>

        <div class="food">
            <img src="/public/images/tteokbokki.png" alt="logo">
            <div class="sub-food">
                <h4>tteokbokki</h4>
                <h5>Mixed rice with meat and assorted vegetables</h5>
                <h4>100 Bath</h4>
            </div>
        </div>

        <div class="food">
            <img src="/public/images/bibimbap.png" alt="logo">
            <div class="sub-food">
                <h4>Bibimbap</h4>
                <h5>Mixed rice with meat and assorted vegetables</h5>
                <h4>100 Bath</h4>
            </div>
        </div>

        <div class="food">
            <img src="/public/images/Jajangmyeon.webp" alt="logo">
            <div class="sub-food">
                <h4>jajangmyeon</h4>
                <h5>Korean noodle dish topped with a thick sauce  </h5>
                <h4>100 Bath</h4>
            </div>
        </div>
    </div>
    
</body>
</html>