<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <a href="/public/css/styles.css"></a>
    <title>Kod Nuey Restaurant</title>
</head>
<body>
    <div class="main">
        <%-include('partials/Header')%>
        <div class="homeImage">
            <img  src="/public/images/bibimbap.png" alt="home image" height="250" width="250">
            </div>
            <div class="texthome">
            <h2 id="texthome">Enjoy Delicious Korean Food</h2>
            <h3 id="texthome">Enjoy a good time with the best dishes in restaurant and improve your day</h3>
            </div>
            <div class="bottom">
                <button class="bottomhome" onclick="document.location='login'">Order Now</button>
            </div>
    </div>
    
    
</body>
</html>