<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/cart.css">
    <script src="https://kit.fontawesome.com/b63648f0fa.js" crossorigin="anonymous"></script>
    <title>Information</title>
    
</head>
<body>
    
    <div class="containerInfo">
        <div class="info-box">
            
            <div>
                <td><a href="/foodMenu">
                    <i class="fa-solid fa-circle-left" ></a></td></i>
            </div>
            
            <h1 id="Information">Information</h1>

            <form action="/information" method="post">

                <div class="input-info"> 
                    <h3>Fullname</h3>
                    <div class="input-info" id="nameinfo">
                        <input type="text" placeholder="Name" name="fullname">
                    </div>

                <div class="input-info"> 
                    <h3>Phone number</h3>
                    <div class="input-info" >
                        <input type="text" placeholder="Phone number" name="phone_number">
                </div>

                <div class="input-info"> 
                    <h3>Address</h3>
                    <div class="input-info" >
                        <input type="text" placeholder="Address" name="address">
                </div>

                <div class="btn-confirm">
                    <button type="submit" >Comfirm</button>
                </div> 
            </form>

                

                  
                    
</body>
</html>