<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body style="background-color: palevioletred;">
    <%-include('partials/Header')%>
    <div class="topicMenu">
        <h2>Menu</h2>
        <h3>Category</h3>
    </div>
    
    <div class="category">
        <table border="5px">
            <tr>
                <td><img src="" alt="Food" onclick="document.location='/foodMenu.ejs'"></td>
                <td><img src="" alt="Appetizers"></td>
                <td><img src="" alt="Drinks"></td>
            </tr>
        </table>
    </div>

    <div class="recommend">
        <h2>Recommend</h2>
    </div>

    <div class="recommend1">
        <h4>Korean Barbecue</h4>
        <h5>consists of meats, side dishes, rice, and even soups.</h5>
        <h4>100 Bath</h4>
    </div>

    <div class="recommend2">
        <h4>Bibimbap</h4>
        <h5>Mixed rice with meat and assorted vegetables</h5>
        <h4>100 Bath</h4>
    </div>

    <div class="recommend3">
        <h4>Bingsu Strawberry</h4>
        <h5>Milk-based Korean shaved ice dessert with sweet</h5>
        <h4>100 Bath</h4>
    </div>

    
    
</body>
</html>
<%-include('partials/Header')%>

<h1>hi</h1>
