<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/public/css/menu.css">
</head>
<body>
    <%-include('partials/Header')%>
    <div class="topicMenu">
        <h2 style="font-weight: bolder;">Menu</h2>
        <h4>Category</h4>
    </div>
    
    <div class="tableBox">
        <table class="category">
            <tr class="table" >
                <td><a href="/foodMenu">
                    <img src="/public/images/bibimbap.png" alt="Food" width="70px" height="70px"></a></td>
                
                <td><a href="/Appetizers">
                    <img src="/public/images/bingsu-mango-with-ice-cream-3d-render-png.png" alt="Appetizers" width="70px" height="70px"></a></td>

                <td><a href="/Drinks">
                    <img src="/public/images/pngtree-korean-soju-drink-vector-transparent-png-image_6497856.png" alt="Drinks" width="70px" height="70px"></a></td>
                

            </tr>
            <tr class="table">
                <td class="tableBox"><h4>Food</h4></td>
                <td class="tableBox"><h4>Appetizers</h4></td>
                <td class="tableBox"><h4>Drinks</h4></td>
            </tr>
        </table>
        
    </div>

    <div class="recommend">
        <h2 style="font-weight: bolder;">Recommend</h2>
    </div>

    <div class="recommend1" onclick="document.location='/cart2'">
        <img src="/public/images/logo.png" alt="logo" class="box" >
        <div class="menu-des">
        <h4>Korean Barbecue</h4>
        <h5>consists of meats, side dishes, rice, and even soups.</h5>
        <h4>100 Bath</h4>

        </div>
    </div>

    <div class="recommend1">
        <img src="/public/images/bibimbap.png" alt="logo" class="box" width="70px" height="70px"  >
        <div class="menu-des">
            <h4>Bibimbap</h4>
            <h5>Mixed rice with meat and assorted vegetables</h5>
            <h4>100 Bath</h4>
        </div>
        
    </div>

    <div class="recommend1">
        <img src="/public/images/bingsu-strawberry-with-ice-cream-3d-render-png.webp" alt="logo" class="box"  width="70px" height="70px" >
        <div class="menu-des">
        <h4>Bingsu Strawberry</h4>
        <h5>Milk-based Korean shaved ice dessert with sweet</h5>
        <h4>100 Bath</h4>
    </div>
        
    </div>

    
    
</body>
</html>

