.food{
    background-color: pink;
    opacity: 70px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

}

@media only screen and (max-width: 500px){
    .food{
        margin: auto;
        width: 85%;
        margin-bottom: 20px;
        padding-left: 5px;
    }
}

.food img{
    width: 90px;
    height: 90px;
    padding: auto;
    padding-top: 5px;    
}

.sub-food h4{
    text-align: start;
    font-weight: bolder;
}