body{
    background-color: rgb(244, 207, 207);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.category{
    background-color:rgb(213, 73, 27);
    display: flex;
    gap: 25px;
    text-align: center;
}

.recommend1 {
    background-color: pink;
    opacity: 70px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around
}

@media only screen and (max-width: 500px){
    .recommend1{
        margin: auto;
        width: 85%;
        margin-bottom: 20px;
    }
    
}
.menu-des{
    align-items: start;
    padding-top: 1rem;
    width: 100%;

}

.menu-des h4{
    text-align: start;
}

.box {
    margin-left: 10px;
    margin-right: 10px;
}

.tableBox{
    margin-left: 42%;
}

