body{
    background-color: rgb(244, 207, 207);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.texthome{
    margin-top: 50px;
}
#texthome{
    color: black;
    size: 100px;
    text-align: center;
    position: relative;
}
.main{
    position: relative;
}

.homeImage{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.homeImage:hover{
    transition: all 3.0s;
    transform: rotate(360deg);
}

.bottom{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.bottomhome{
    background-color: rgb(240, 117, 9);
    border-radius: 30px;
    padding: 20px;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium ;
    font-weight: 700;
    border: 50px;
}

.bottomhome:active{
    color: rgb(209, 69, 13);
}

