body{
    background-color: rgb(239, 221, 221);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.texthome{
    margin-top: 50px;
}
#texthome{
    color: black;
    size: 100px;
    text-align: center;
    position: relative;
}
.main{
    position: center;
}

.homeImage{
    display: flex;
    justify-content: center;
    
    
}

.homeImage:hover{
    transition: all 3.0s;
    transform: rotate(360deg);
}

.bottom{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.bottomhome{
    background-color: rgb(240, 117, 9);
    border-radius: 30px;
    padding: 20px;
    border-style: none;
    border: 50px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 500;
}

.bottomhome:active {
    color: rgb(174, 17, 0);
  }

#leaf1{
    background-position: left bottom;
    transform: rotate(30deg);
}

.textabout{
    
    margin: 50px;
}


/* Customer navbar */
.navbar{
    background-color: #438F68;
}
.navPos{
    height: 32px;
}
.nav-link{
    color: #CFCFCF;
    font-size:medium ;
}
.navContent{
    color: white;
    font-size: smaller;
    margin-top: 20px;
}

.icon{
    color: white;
    font-size: x-large;
}
.searchBtn:hover{
    color: whitesmoke;
}
hr{
    color: white;
    margin: 0;
}
#restaurantName{
    color: white;
    text-align: center;
}
a.icon{
    color: black;
    font-size: x-large;
}
a.icon:hover{
    color: #1f2f1f;
}
.searchBtn{
    background-color: #F28157;
    color: white;
    overflow: hidden;
}
.active{
    color: white;
    font-size: x-large;
}
.active:hover{
    color: whitesmoke;
}
.links{
    padding-top: 15px;
}

