<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Homepage</title>
</head>
<body>
    <%-include('partials/Header')%>

    <div>
        <h2>Order List</h2>
        <img src="/public/images/cooking.png" alt="icon-cooking" width="150px">
    </div>

    <div class="containOrder">
        <table>
            <tr>
                <td>Order On.</td>
                <td>Status</td>
                <td>Customer Name</td>
                <td>Order Items</td>
            </tr>
        </table>
    </div>
    
</body>
</html>